{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

<div id="acc" class="container-fluid">
        <div class="titre">
            <h1>PROVIDING</h1>
            <h2>HEALTH SOLUTION</h2>
            <p>In healthcare sector, service excellence is the facility of the hospital as 
            healthcare service provider to consistently.</p>
        </div>
</div>  
{% endblock %}
